/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 3rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /*margin-bottom: 10px;*/

  background: url('../../static/img/rest_hooks_logo_grayscale.svg') var(--ifm-hero-background-color) no-repeat;
  background-position: 100% 20%;
}


@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons :global(.button.button--primary) {
  font-size: 23px;
  padding: 0.2em 1.3em;
  font-weight: bold;
  border-radius: 10px;
  letter-spacing: 1px;
}
