{
  "extends": [
    "plugin:@anansi/typescript"
  ],
  "rules": {
    "@typescript-eslint/no-empty-function": "warn"
  },
  "parserOptions": {
    "project": ["./packages/**/tsconfig.json", "./__tests__/tsconfig.json"]
  }
}
