{
  "extends": [
    "plugin:@anansi/typescript"
  ],
  "rules": {
    "@typescript-eslint/no-empty-function": "warn"
  },
  "settings": {
    "import/resolver": {
      "node": {}
    }
  },
  "globals": {
    "process": "writable"
  }
}
