.playgroundContainer {
  margin-bottom: var(--ifm-leading);
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  overflow: hidden;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  background-color: var(--ifm-background-color);
}
@media only screen and (min-width: 768px) {
  .playgroundContainer.row {
    flex-direction: row;
  }
  .playgroundContainer.row .hidden {
    display: none;
  }
}
.playgroundContainer > div {
  flex: 1 1 auto;
}
.playgroundContainer > div:first-child {
  flex: 0 0 70%;
}

.playgroundHeader {
  letter-spacing: 0.08rem;
  padding: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
  background: var(--ifm-color-emphasis-200);
  color: var(--ifm-color-content);
  font-size: var(--ifm-code-font-size);
}
.playgroundHeader.small {
  text-transform: none;
  font-size: 80%;
  font-weight: 500;
  padding: 0.4rem 0.75rem;
}
.playgroundHeader.clickable {
  cursor: pointer;
}
.playgroundHeader.clickable:hover {
  background-color: var(--ifm-color-emphasis-500);
}
.playgroundHeader.noupper {
  text-transform: none;
}


div:first-of-type > .playgroundHeader {
  background: var(--ifm-color-emphasis-600);
  color: var(--ifm-color-content-inverse);
}
div > .playgroundHeader.subtabs {
  color: var(--ifm-color-content);
  background: var(--ifm-color-emphasis-400);
}

.playgroundEditor {
  font: var(--ifm-code-font-size) / var(--ifm-pre-line-height)
    var(--ifm-font-family-monospace) !important;
  /*rtl:ignore*/
  direction: ltr;
  height: 100%;
}
.playgroundEditor :global(.prism-code) {
  border-radius: 0;
}
.closed {
  display: none;
}

.arrow {
  transition: all 200ms ease 0s;
  transform-origin: 45% 50% 0px;
  position: relative;
  display: inline-block;
  font-size: 12px;
  margin-right: 1em;
}
.arrow.vertical {
  float: right;
  margin-right: 0;
}
.arrow.right {
  transform: rotateZ(0deg);
}
.arrow.left {
  transform: rotateZ(180deg);
}
.arrow.up {
  transform: rotateZ(270deg);
}
.arrow.down {
  transform: rotateZ(90deg);
}

:global(.col) .playgroundPreview {
  padding: 1rem;
  background-color: var(--ifm-pre-background);
  flex: 1 4 20%;
  overflow: auto;
}
:global(.col) .playgroundError {
  overflow: visible;
  padding: 0;
  color: var(--ifm-color-danger-contrast-foreground);
  white-space: pre-wrap;
}

.playgroundResult {
  display: flex;
  height: 100%;
}

.debugToggle {
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  font-weight: 500;
  background: var(--ifm-color-emphasis-200);
  color: var(--ifm-color-content);
  font-size: var(--ifm-code-font-size);
  padding: 0.7em 0.1em 1em 0.1em;
  cursor: pointer;
  flex: 0 0 auto;
}

.debugToggle:hover {
  background-color: var(--ifm-color-emphasis-300);
}

.playgroundContainer.row.hidden {
  display: none;
}

/* tabs */
.playgroundHeader.tabControls {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.playgroundHeader.tabControls .title {
  padding: 0.75rem;
}

/* live editor v3 */
:global(.prism-code) {
  height: 100%;
}

.tabs {
  display: flex;
}

.tab {
  height: 100%;
  padding: 0.75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.tab:hover {
  background-color: var(--ifm-color-emphasis-500);
}

.tab.selected {
  background-color: var(--ifm-color-emphasis-400);
  color: var(--ifm-color-content);
}
.subtabs .tab.selected {
  background-color: var(--ifm-color-emphasis-600);
  color: var(--ifm-color-content-inverse);
}
.subtabs .tab {
  padding: 0.4rem 0.75rem;
}


.playgroundPreview button {
  margin-bottom: 8px;
  margin-right: 8px;
  padding: 2px 6px;
}
