# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2.1
jobs:
  setup:
    docker: &docker
      # specify the version you desire here
      - image: circleci/node:16
    steps:
      - checkout
      - restore_cache:
          keys:
            - v4-dependencies-{{ checksum "yarn.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v4-dependencies-
      - run:
          name: yarn install
          command: |
            yarn config set cache-folder ~/.cache/yarn
            yarn install --prefer-offline --frozen-lockfile
      - save_cache:
          paths:
            - node_modules
            - packages/*/node_modules
            - ~/.cache/yarn
          key: v4-dependencies-{{ checksum "yarn.lock" }}
      - run: yarn run build
      - persist_to_workspace:
          root: ~/
          paths:
            - project

  lint:
    docker: *docker
    steps:
      - attach_workspace:
          at: ~/
      - run:
          command: |
            yarn lint packages/*/src

  typecheck:
    docker: *docker
    steps:
      - attach_workspace:
          at: ~/
      - run:
          command: |
            cd packages/normalizr
            yarn run typecheck

  unit_tests:
    parameters:
      react-version:
        type: string
    docker: *docker
    steps:
      - attach_workspace:
          at: ~/
      - run:
          command: |
            yarn add -W --dev react@<< parameters.react-version >> react-dom@<< parameters.react-version >> react-test-renderer@<< parameters.react-version >>
      - run:
          command: |
            yarn test:ci --maxWorkers=3

  test_coverage:
    docker: *docker
    steps:
      - attach_workspace:
          at: ~/
      - run:
          command: |
            yarn add -W --dev react@^17.0.0 react-dom@^17.0.0 react-test-renderer@^17.0.0
      - run:
          command: |
            curl -Os https://uploader.codecov.io/latest/linux/codecov;
            chmod +x codecov;
            yarn run test:coverage --maxWorkers=2 --coverageReporters=text-lcov > ./lcov.info;
            if [ "$CODECOV_TOKEN" != "" ]; then
            ./codecov -t ${CODECOV_TOKEN} < ./lcov.info || true;
            else
            ./codecov < ./lcov.info || true;
            fi

  salus:
    machine: true
    steps:
      - checkout
      - run: docker run -t -v $(pwd):/home/repo coinbase/salus

  examples:
    docker: *docker
    steps:
      - attach_workspace:
          at: ~/
      - run:
          command: |
            cd examples/normalizr-relationships
            yarn run start

  validate-esmodule-browser-build:
    docker: *docker
    steps:
      - attach_workspace:
          at: ~/
      - run:
          command: |
            cd examples/todo-app
            yarn run build:browser --env readable

workflows:
  version: 2
  all-tests:
    jobs:
      - setup
      - unit_tests:
          matrix:
            parameters:
              react-version: ["^17.0.0", "next"]
          requires:
            - setup
      - test_coverage:
          requires:
            - setup
      - lint:
          requires:
            - setup
      - typecheck:
          requires:
            - setup
      - examples:
          requires:
            - setup
      - validate-esmodule-browser-build:
          requires:
            - setup
      - salus
