.userLink {
  display: inline-block;
  text-decoration: none;
  margin: 0 7px;
  color: blue;

}
.userLink.active {
  color: red;
}
.userLink:hover {
  text-decoration: underline;
}

.wrap {
  margin-top: 20px;
  text-align: center;
}