@font-face {
  font-display: swap;
  font-family: 'Graphik';
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/Graphik-Regular.woff') format('woff');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Graphik', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom right, #f5f7fa 0%, #c3cfe2 100%);
  min-height: 100vh;
  color: #111;
  margin: 0;
  padding: 0;
}
