@font-face {
  font-display: swap;
  font-family: 'Graphik';
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/Graphik-Regular.woff') format('woff');
}

body {
  font-family: 'Graphik', 'Avenir Next', 'Helvetica Nueue', Helvetica,
    sans-serif;
  background-color: #0052ff;
  color: white;
}

a {
  color: white;
}

a:hover {
  color: gray;
}
