
.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 15px;
}

.grid.wrap :global(.prism-code) {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: minmax(0, 1fr);
  }
}
@media only screen and (min-width: 997px) and (max-width: 1268px) {
  .grid {
    grid-template-columns: minmax(0, 1fr);
  }
}