.features {
  margin: 3.2rem 0;
  padding: 0;
  width: 100%;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureSvg {
  height: 56px;
  width: 56px;
  margin-bottom: 0.75rem;
  color: var(--ifm-color-primary);
}

@media screen and (max-width: 996px) {
  .feature {
    margin-bottom: 2rem;
  }
}
