name: Benchmark

on:
  pull_request:
    branches:
      - master
    paths:
      - 'packages/normalizr/src/**'
      - 'packages/endpoint/src/schemas/**'
      - 'packages/core/src/**'
      - 'examples/benchmark/**'
      - '.github/workflows/benchmark.yml'
  push:
    branches:
      - master
    paths:
      - 'packages/normalizr/src/**'
      - 'packages/endpoint/src/schemas/**'
      - 'packages/core/src/**'
      - 'examples/benchmark/**'
      - '.github/workflows/benchmark.yml'
jobs:
  benchmark:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 1
    - uses: actions/setup-node@v6
      with:
        node-version: '24'
        cache: 'yarn'
    - name: Install packages
      run: |
        corepack enable
        yarn install --immutable
    - name: Build packages
      run: |
        NODE_ENV=production BROWSERSLIST_ENV=modern yarn workspaces foreach -WptivR --from @data-client/core run build:lib && NODE_ENV=production BROWSERSLIST_ENV=modern yarn workspaces foreach -WptivR --from @data-client/endpoint run build:lib
    - name: Run benchmark
      run: yarn workspace example-benchmark build && yarn workspace example-benchmark start | tee output.txt


    # PR comments on changes
    - name: Download previous benchmark data (PR)
      if: ${{ github.event_name == 'pull_request' }}
      uses: actions/cache@v4
      with:
        path: ./cache
        key: ${{ runner.os }}-benchmark-pr-${{ env.GITHUB_RUN_NUMBER }}
        restore-keys: |
          ${{ runner.os }}-benchmark
    - name: Store benchmark result (PR)
      if: ${{ github.event_name == 'pull_request' }}
      uses: rhysd/github-action-benchmark@v1
      with:
        tool: 'benchmarkjs'
        output-file-path: output.txt
        github-token: "${{ secrets.GITHUB_TOKEN }}"
        gh-pages-branch: 'gh-pages-bench'
        # Show alert with commit comment on detecting possible performance regression
        alert-threshold: '150%'
        comment-always: true
        fail-on-alert: false
        alert-comment-cc-users: '@ntucker'
        # we only want to compare against master, so do not save for PR
        save-data-file: false
        auto-push: false

    # master reports to history
    - name: Download previous benchmark data (main)
      if: ${{ github.event_name == 'push' }}
      uses: actions/cache@v4
      with:
        path: ./cache
        key: ${{ runner.os }}-benchmark
    - name: Store benchmark result (main)
      if: ${{ github.event_name == 'push' }}
      uses: rhysd/github-action-benchmark@v1
      with:
        tool: 'benchmarkjs'
        output-file-path: output.txt
        github-token: "${{ secrets.GITHUB_TOKEN }}"
        gh-pages-branch: 'gh-pages-bench'
        auto-push: true
        fail-on-alert: false
