name: Beta Release

on:
  push:
    branches:
      - beta
  workflow_dispatch:
    inputs:
      tag:
        description: 'Beta tag (e.g., beta, alpha, rc)'
        required: true
        default: 'beta'
        type: string

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  beta-release:
    name: Beta Release
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'yarn'
          registry-url: 'https://registry.npmjs.org'
      - name: Install packages
        run: |
          corepack enable
          yarn install --immutable

      - name: Create Beta Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          version: yarn changeset:version:beta
          publish: yarn changeset:publish:beta
          commit: "internal: Publish beta version"
          title: "Version Packages (Beta)"
          createGithubReleases: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}